
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/AuthorizedLayout.cshtml";
}

<h2>Invoice</h2>
<hr/>
<table>
    <tr>
        <td class="glyphicon-align-right">@DateTime.Now.ToString()</td>
    </tr>
    <tr class="row">
        <td class="col-md-8">Name </td>
       

    </tr>
    </table>
    <table class="table">
     <tr class="row">
      <th>Function Name</th>
         <th>Venu</th>
         <th>No Of Guest </th>
         <th>Items</th>
         <th>Costs</th>
         
         </tr>
   
     @foreach (var d in @ViewBag.Ev){
        <tr class="row">
            <td>@d.EventDetails.Type</td>


            <td>@d.VenuDetails.VenuName</td>
            <td>@d.NoGuest</td>
          @foreach (var c in @ViewBag.C)
          {
              if (d.Food.Equals(c.Items))
              {
              <tr><td>@c.Items</td>
        <td>@c.Cost</td></tr>
              }
              }
           
            </tr>
            }
              
        <tr><td>Total Cost</td>
        <td></td></tr>
   </table>
       

